## Project Hand Sign

# Importing

In [1]:
import numpy as np 
import pandas as pd 
import tensorflow as tf

In [2]:
tf.__version__

'2.4.1'

# Importing data sets

In [3]:
train_dataset = pd.read_csv("sign_mnist_train.csv")
test_dataset = pd.read_csv("sign_mnist_test.csv")

# Training and Test DataSet

**Training DataSet**

In [4]:

train_dataset.head()

   label  pixel1  pixel2  pixel3  ...  pixel781  pixel782  pixel783  pixel784
0      3     107     118     127  ...       206       204       203       202
1      6     155     157     156  ...       175       103       135       149
2      2     187     188     188  ...       198       195       194       195
3      2     211     211     212  ...       225       222       229       163
4     13     164     167     170  ...       157       163       164       179

[5 rows x 785 columns]

# Train and Test Set Extraction

In [5]:

X_train = train_dataset.iloc[:,1:]
Y_train = train_dataset.iloc[:,0]

X_test = test_dataset.iloc[:,1:]
Y_test = test_dataset.iloc[:,0]

# Normalisation

In [6]:
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')

X_train/=255
X_test/=255

# Reshaping for Cov2d Input

In [7]:
X_train = np.array(X_train)
X_test = np.array(X_test)

X_train= X_train.reshape(X_train.shape[0], 28, 28, 1)
X_test = X_test.reshape(X_test.shape[0], 28, 28, 1)


# Training and Test Data Sets

**X Train**

In [8]:

print("X_Train-> "+str(list(X_train.shape)))
print("Y_Train-> "+str(list(Y_train.shape)))

print("X_Test->  "+str(list(X_test.shape)))
print("Y_test->  "+str(list(Y_test.shape)))

X_Train-> [27455, 28, 28, 1]
Y_Train-> [27455]
X_Test->  [7172, 28, 28, 1]
Y_test->  [7172]

# Encoding the labels

In [9]:

from keras.utils import to_categorical 
Y_train = to_categorical(Y_train, dtype ="uint8") 
Y_test = to_categorical(Y_test, dtype ="uint8")

# Data Augmentation

**Not needed because of Large number of dataset**

# CNN model

# Initialising

In [10]:
cnn = tf.keras.models.Sequential()

Convulation Layer

In [11]:
cnn.add(tf.keras.layers.Conv2D(filters=32, kernel_size=7, activation='relu', input_shape=[28, 28, 1]))

Pooling

In [12]:
cnn.add(tf.keras.layers.MaxPool2D(pool_size=2, strides=2))

2nd Convulation Layer

In [13]:
cnn.add(tf.keras.layers.Conv2D(filters=32, kernel_size=7, activation='relu'))

2nd Pooling

In [14]:
cnn.add(tf.keras.layers.MaxPool2D(pool_size=2, strides=2))

Flatten

In [15]:
cnn.add(tf.keras.layers.Flatten())

Dropout

In [16]:
cnn.add(tf.keras.layers.Dropout(0.4))

Full Connection

In [17]:
cnn.add(tf.keras.layers.Dense(units=128, activation='relu'))

Output Layer

In [18]:
cnn.add(tf.keras.layers.Dense(units=25, activation='sigmoid'))

# Model Summary

In [19]:
cnn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 22, 22, 32)        1600
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 11, 11, 32)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 5, 5, 32)          50208
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 2, 2, 32)          0
_________________________________________________________________
flatten (Flatten)            (None, 128)               0
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 128)               16512
_________________________________________________________________
dense_1 (Dense)              (None, 25)                3225
=================================================================
Total params: 71,545
Trainable params: 71,545
Non-trainable params: 0
_________________________________________________________________

# Compiling the model

In [20]:
cnn.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics=['accuracy'])

# Training the model on Training Set

In [21]:
history =cnn.fit(X_train, Y_train,validation_data=(X_test, Y_test) ,batch_size = 32, epochs = 20)

Epoch 1/20
858/858 [==============================] - 25s 28ms/step - loss: 2.2806 - accuracy: 0.2927 - val_loss: 0.7787 - val_accuracy: 0.7146
Epoch 2/20
858/858 [==============================] - 24s 28ms/step - loss: 0.7135 - accuracy: 0.7598 - val_loss: 0.4408 - val_accuracy: 0.8455
Epoch 3/20
858/858 [==============================] - 23s 27ms/step - loss: 0.4126 - accuracy: 0.8548 - val_loss: 0.3114 - val_accuracy: 0.8917
Epoch 4/20
858/858 [==============================] - 23s 27ms/step - loss: 0.2802 - accuracy: 0.9063 - val_loss: 0.2633 - val_accuracy: 0.9184
Epoch 5/20
858/858 [==============================] - 23s 27ms/step - loss: 0.2162 - accuracy: 0.9264 - val_loss: 0.2412 - val_accuracy: 0.9271
Epoch 6/20
858/858 [==============================] - 23s 27ms/step - loss: 0.1711 - accuracy: 0.9416 - val_loss: 0.1942 - val_accuracy: 0.9393
Epoch 7/20
858/858 [==============================] - 23s 27ms/step - loss: 0.1471 - accuracy: 0.9498 - val_loss: 0.1950 - val_accuracy: 0.9377
Epoch 8/20
858/858 [==============================] - 23s 27ms/step - loss: 0.1264 - accuracy: 0.9584 - val_loss: 0.1924 - val_accuracy: 0.9417
Epoch 9/20
858/858 [==============================] - 23s 27ms/step - loss: 0.1078 - accuracy: 0.9626 - val_loss: 0.1757 - val_accuracy: 0.9523
Epoch 10/20
858/858 [==============================] - 23s 27ms/step - loss: 0.0948 - accuracy: 0.9688 - val_loss: 0.1912 - val_accuracy: 0.9541
Epoch 11/20
858/858 [==============================] - 23s 27ms/step - loss: 0.0908 - accuracy: 0.9702 - val_loss: 0.1904 - val_accuracy: 0.9551
Epoch 12/20
858/858 [==============================] - 23s 27ms/step - loss: 0.0836 - accuracy: 0.9720 - val_loss: 0.1862 - val_accuracy: 0.9407
Epoch 13/20
858/858 [==============================] - 23s 27ms/step - loss: 0.0788 - accuracy: 0.9751 - val_loss: 0.2988 - val_accuracy: 0.9294
Epoch 14/20
858/858 [==============================] - 23s 27ms/step - loss: 0.0758 - accuracy: 0.9747 - val_loss: 0.1858 - val_accuracy: 0.9564
Epoch 15/20
858/858 [==============================] - 23s 27ms/step - loss: 0.0732 - accuracy: 0.9752 - val_loss: 0.2800 - val_accuracy: 0.9421
Epoch 16/20
858/858 [==============================] - 23s 27ms/step - loss: 0.0674 - accuracy: 0.9771 - val_loss: 0.1812 - val_accuracy: 0.9523
Epoch 17/20
858/858 [==============================] - 23s 27ms/step - loss: 0.0638 - accuracy: 0.9789 - val_loss: 0.2232 - val_accuracy: 0.9470
Epoch 18/20
858/858 [==============================] - 23s 27ms/step - loss: 0.0666 - accuracy: 0.9780 - val_loss: 0.1933 - val_accuracy: 0.9522
Epoch 19/20
858/858 [==============================] - 23s 27ms/step - loss: 0.0682 - accuracy: 0.9761 - val_loss: 0.2289 - val_accuracy: 0.9301
Epoch 20/20
858/858 [==============================] - 23s 27ms/step - loss: 0.0577 - accuracy: 0.9815 - val_loss: 0.2022 - val_accuracy: 0.9586

# Graph for Train and Test Set

In [23]:
import matplotlib.pyplot as plt

# list all data in history
print(history.history.keys())

#Epoch
last_epoch=20-1



# summarize history for accuracy
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
Title_Output_Accuracy=" Training="+str(round(history.history['accuracy'][last_epoch],3))+" Validation="+str(round(history.history['val_accuracy'][last_epoch],3));
plt.title("model accuracy: "+Title_Output_Accuracy)
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()


# summarize history for loss

plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
Title_Output_Loss=" Training="+str(round(history.history['loss'][last_epoch],3))+" Validation="+str(round(history.history['val_loss'][last_epoch],3));
plt.title('model loss: '+Title_Output_Loss)
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

# Accuracy per classes

In [23]:
from sklearn.metrics import classification_report
import numpy as np

Y_test = np.argmax(Y_test, axis=1) # Convert one-hot to index
Y_pred = cnn.predict_classes(X_test)
print(classification_report(Y_test, Y_pred))

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

              precision    recall  f1-score   support

           0       0.76      1.00      0.86       331
           1       1.00      1.00      1.00       432
           2       0.62      1.00      0.77       310
           3       1.00      0.92      0.96       245
           4       0.87      0.96      0.91       498
           5       0.96      1.00      0.98       247
           6       0.86      0.94      0.90       348
           7       1.00      0.87      0.93       436
           8       0.90      1.00      0.94       288
          10       1.00      0.94      0.97       331
          11       0.95      0.77      0.85       209
          12       0.93      0.88      0.90       394
          13       1.00      0.69      0.82       291
          14       1.00      0.39      0.56       246
          15       1.00      1.00      1.00       347
          16       0.80      0.99      0.89       164
          17       0.86      0.87      0.86       144
          18       0.78      0.89      0.83       246
          19       0.89      0.72      0.80       248
          20       1.00      0.92      0.96       266
          21       0.93      1.00      0.96       346
          22       1.00      0.87      0.93       206
          23       0.80      0.92      0.86       267
          24       1.00      0.78      0.88       332

    accuracy                           0.90      7172
   macro avg       0.91      0.89      0.89      7172
weighted avg       0.92      0.90      0.90      7172

#Video Capture